@import "compass/reset";
@import "compass/css3";
@import "normalize";  
@import "foundation";
@import "foundation/components/global";
@import "foundation/components/grid";

$header_font:'Grand Hotel', cursive;
@mixin font-family($font-size:null,$font-weight:null,$font-family:null)
{
    font-size:$font-size;
    font-weight: $font-weight;
    font-family: $font-family;
}
@mixin icon1($x,$y,$width)
{
  .icon_1 
   {
     background-position: $x $y;
     width: $width;
   }
}
@mixin icon2($x,$y,$width)
{    .icon_2 
    {
     background-position: $x $y;
      width: $width;
    }
}    
@mixin icon3($x,$y,$width)
{
  .icon_3 
    {
      background-position: $x $y;
      width: $width;
    } 
}
@mixin icon4($x,$y,$width)
{    
    .icon_4 
    {
     background-position: $x $y;
      width: $width;
    } 
}
@mixin icon5($x,$y,$width)
{    
    .icon_5 
    {
     background-position: $x $y;
      width: $width;
    }
}      

@mixin box-model($width:null,$height:null,$margin-top:null,$margin-left:null,$margin-bottom:null,$padding-top:null,$padding-left:null)
{
    width: $width;
    height: $height;
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-bottom: $margin-bottom;
    padding-top:$padding-top;
    padding-left:$padding-left;
}
@mixin box-direction($top:null,$bottom:null,$right:null,$left:null)
{
  top: $top;
  bottom:$bottom;
  right: $right;
  left: $left;
  position: absolute;
}
@mixin back_img($url,$repeat)
{
    background-image:url($url);
    background-repeat:$repeat;
}
html
{
    overflow-y: scroll;
}
body
{
    @include back-img('../back_pattern.png','repeat');     
    @include box-model($height: 100%);
}
.navigation-header
{   
    @include box-shadow(0px 4px 18px rgba(50, 50, 50, 0.75));    
    @include back-img('../asli_pattern.png','repeat');
    @include box-model($width:100%,$height:60px);

    /*text-align: center;*/
    .stiches
    {
      @include back-img('../stich_new.png','repeat-x');
      @include box-model($height: 7px);
    }
    .nav
    {
      @include box-model($height: 44px);
      @include grid-row();
      .nav-item
      {        
        @include grid-column(3, $float: left, $collapse: true);
        height: inherit;
        .background
        {          
          @include grid-column(12, $center: true, $collapse: true);
          @include opacity(0.6);
          @include border-radius(8px);          
          @include box-shadow(inset 0 0 18px #000);
          @include box-model($width:100%,$height:38px,$margin-top:4px);
          background-color: rgb(68,99,116);
          visibility: hidden;
        }
        .text
        {
          @include box-model($width:100%,$height:38px,$margin-top:-34px);
          @include font-family(32px,$font-family:('Grand Hotel', cursive));
          position: absolute;
          color: #154f5d;          
          text-align: center;
          text-shadow: 1px 1px 2px #000;  

        }
        &.middle
        {
          @include grid-column(6, $float: left, $collapse: true);
          @include box-model($padding-top: 10px);
          .logo
          {
            @include grid-column(8, $center: true, $collapse: true);
            @include back-img('../red-ribbon.png','no-repeat');
            @include box-model($width:291px,$height:64px,$padding-top: 8px);
            @include font-family(40px,$font-family:('Grand Hotel', cursive));       
            color: #eeeeee;
            text-shadow: 1px 1px 3px #505050;
            text-align: center;
          }
        }
        &.selected
        {
          background-color: #61d4e7;
        }
      }
    }
}
.services
{
  @include grid-row();
  @include box-model($width:960,$margin-top:3%,$margin-left:-480px);
  @include box-direction($left:50%);
  text-align: center;
  &.section
  {
    @include grid-column(12);
    .selection_row
    {
      @include grid-row();
      .selection_bar
      {
      @include grid-column(3,$collapse: true);
      @include box-shadow(1px 1px 3px rgb(80,80,80));
      @include border-radius(5px);
      @include box-direction(50%,$left:180px);
      @include opacity(0.6);
      border-style: solid;
      border-color: #61d4e7;    
      border-width: 5px;
      -webkit-transform-origin: right center;    
      -moz-transform-origin: right center;
      z-index: 0;
      -webkit-transform: rotate(35deg);
      -moz-transform: rotate(35deg);
      -webkit-transition: -webkit-transform 0.4s;
      -moz-transition: -moz-transform 0.4s;      
      }
    }
    
    .name
    {
      @include box-model(150px,150px,$margin-top:20px);
      @include border-radius(95px);
      @include box-shadow(1px 1px 3px rgb(80,80,80));
      @include font-family(28px,$font-family:('Grand Hotel', cursive)); 
      @include opacity(0.6);
      display: block;      
      background-color: rgb(150,150,150);    
      box-shadow: 1px 1px 8px #000;     
      cursor: pointer; 
      .service_text
      {
        @include box-model(150px,150px);
        display: table-cell;        
        vertical-align: middle;
        text-align:center;
      }
      &.margin 
      {
        margin-left: 45px;
      }       
      &.selected
      {
        background-color: #61d4e7;
      }
    }
  }

}
.mainContent
{  
  @include box-model(544px,544px,$margin-top:-17em);
  @include border-radius(544px);
  @include box-shadow(inset 0 0 65px #0596a7); 
  @include font-family($font-weight:800,$font-family: ('Dosis',sans-serif)); 
  @include box-direction(50%,$right:15px);
  .marketing
  {
    display: none;
  }
  .biz-dev
  {
     display:none;
  }
  .technology
  {
     display: table-cell;
  }
.tagline
{
  @include box-model(483px,544px,$padding-left:30px);
  @include font-family($font-size: 2.2em);   
  vertical-align: middle;
  text-align: center;  
  color: rgb(50,50,50);
  letter-spacing: 0px;
  -webkit-transition: display 0.5s;
  -moz-transition: display 0.5s;
  .underline
  {
    color: #4ecad9;
    text-shadow: 0px 1px 3px rgb(60,60,60);
  }
}

}
.icons
{
  @include box-model($margin-top:-85px,$margin-left:483px);
  position:absolute;
  .icon_row div 
  {    
    display: none;
  }
  .icon_row
  {
    .icon_2,.icon_4
   {
     margin-bottom: -42px;
   }
   .icon_3
   {
     margin-bottom: -60px;
   }   
  }
       
    .digital_marketing_icons
    {
      @include box-model($margin-left:10px);
      @include icon1(0px,0px,59px);
      @include icon2(120px,0px,60px);
      @include icon3(180px,0px,60px);
      @include icon4(60px,0px,60px);
      @include icon5(239px,0px,60px); 
    }
    .digital_marketing_icons div
    {
      @include back-img('../digital-marketing-icons_v1.png','no-repeat');
      @include box-model($height:61px,$margin-left:10px); 
      display: none;      
    }     
    
    .biz_dev_icons
    {
      @include box-model($margin-left: 4px);
      @include icon1(0px,0px,65px);
      @include icon2(65px,0px,67px);
      @include icon3(135px,0px,65px);
      @include icon4(202px,0px,65px);
      @include icon5(274px,0px,73px);    
    }
    .biz_dev_icons div
    {
      /*@include back-img('../business-development.png','repeat');*/
      background-image: url('../business-development.png');
      @include box-model($height:62px,$margin-left:8px);
      display: inline-block;
    } 
  
   .tech_icons
    {
      @include box-model($margin-left: 4px);  
      @include icon1(0px,0px,77px);
      @include icon2(90px,0px,48px);
      @include icon3(233px,0px,107px);
      @include icon4(41px,0px,43px);
      @include icon5(128px,0px,38px);  
    }
    .tech_icons div
    {    
      @include back-img('../technology.png','no-repeat');  
      @include box-model($height:62px,$margin-left:8px);
      display:none;    
    } 
   
}

.about
{
  @include grid-row();
  .Content
  { 
    @include grid-column(12,$collapse:true);
    .info
    {
      @include grid-row();
      @include box-model($margin-bottom:200px);
      .about_text
      {
       @include grid-column(9,$pull:3,$collapse:true);  
       @include box-model($margin-top: 30px,$margin-left: -480px);
       @include font-family($font-weight: 500,$font-family:('Dosis', sans-serif));   
       position: absolute;
       text-align:right; 
       color: rgb(50,50,50);    
       .other-heading
       {
        @include font-family($font-size: 28px,$font-weight: 800); 
        text-shadow: 0px 1px 3px rgb(60,60,60);
        .red
        {
         color: #f43939;
         text-shadow: 1px 1px 3px #000;
        }
        .bottom
        {
          @include box-direction($right:202px,$bottom:-114px);
        }
      }    
    }
     .get_in_touch
    {
      @include grid-column(2,$offset:1,$push:9,$collapse:true);
      position:absolute;
    }
   }
   .boxes
   {
    @include grid-row();
    .box
    {
     @include grid-column(4,$collapse:true);
     .image
     {
      top: 0px;
      height:250px;
      background-color: White;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: inset 0 0 160px #000;
      opacity: 0.4;
      
     }
     .space
     {
      margin-left: 30px;
      margin-right: 30px;
     }
     .pattern
     {
      @include back-img('../low_contrast_linen.png','repeat');
      @include box-model(82%,280px);
      position: absolute;
      bottom: 0px;
      z-index:1;
      font-family: 'Dosis', sans-serif;
      color: White;
      text-shadow: 0px 1px 3px rgb(60,60,60);
      text-align: center;    
      height: 50px;
      overflow: hidden; 
      .heading
      {
        @include box-model(280px);
        @include font-family(30px,400);
        @include box-direction(5px,$left:10px);
        line-height:44px;
        font-family:$header_font;   
        text-shadow: 0px 1px 3px rgb(60,60,60);
        text-align: left;
      }
      .descr
      {
        @include box-direction(120px,0px,$left:10px);
        line-height:20px;
        text-align: left;
        font-weight: bold;
      }
     }
     .font-image
     {
      @include box-model($height:250px,$margin-top:-200px,$margin-left:42px);
      @include font-family($font-size:180px);
      color: #573232;
     &.margin
     {
      margin-left:20px;
     }

     }
    }    
   }   
  }
}
.contact
{
  z-index: 10;
  .overlay
  {
    @include box-model(100%,100%);
    @include box-direction(0px,$left:0px);
    background-color: White;
    box-shadow: inset 0px 0px 300px #000;
    opacity: 0.92;
  }
  .content-box
  {
    @include grid-row();
    @include box-model(600px,400px,$margin-top:-200px,$margin-left:-300px);
    @include box-direction(50%,$left:50%);
    background-color: #eab64a;
    /*background-image: url('contact_pattern.png');*/
    background-repeat: repeat;
    border-radius: 10px;
    box-shadow: 3px 3px 15px rgb(80,80,80);  
    border-width:5px;
    border-color: Black;
    .header
    {
      @include box-model(100%,60px,$margin-top: 22px,$margin-left: 20px,$margin-bottom: 5px);      
      @include font-family(42px,800);
      font-family: 'Dosis', sans-serif;
      text-align: left;
      color: #5d3816;
      color: rgba(93,56,22, 0.8);    
      text-shadow: 1px 4px 6px #eab64a, 0 0 0 #000, 1px 4px 6px #eab64a;        
    } 
    .form
    {  
      input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
      {
        color: #977630;
      }
      input::-moz-input-placeholder, textarea::-moz-input-placeholder
      {
        color: #977630;
      }
      input,textarea
      {
        @include font-family($font-weight: 800,$font-family: ('Dosis', sans-serif));
        background-color: #c89c3f;
        border-style: none;
        box-shadow: inset 0px 0px 6px #000;    
        padding-left: 10px;
        font-size: 18px;
        color: White;    
      }

     .close_btn
      {
        @include box-direction(-14px,$right:27px);
        width:1px;
        color: rgba(93,56,22,0.8);
        z-index: 2;
        font-size: 32px;
        cursor: pointer;
        text-shadow: 0px 1px 3px rgb(60,60,60);
      }
     .column1
      {
       @include grid-column(7,$pull:5);
       position: absolute;
       textarea
       {        
        resize: none;
        border-radius: 0px;
        overflow: hidden;
       }
      }
      .column2
      {
        @include grid-column(5,$push:7);
        .submit
        {
          @include box-model(100%,$margin-top:75px);
          @include font-family(42px,800,$font-family: ('Dosis', sans-serif));
          vertical-align: bottom;  
          text-align: center;    
          background-color: rgba(93,56,22, 0.8);    
          vertical-align: bottom;
          color: #eab64a;
          cursor: pointer;
          padding-bottom: 15px;     
        }
      }
    }  
  }
}