body, html
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Spicy Rice', serif;
    text-align: center;
    background-color: #eae5c7;
    background-repeat: repeat;
    letter-spacing: 1px;
}
#nav
{
    position: absolute;
    width: 100%;
    height: 60px;
    /*background-color: #024959;*/
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 4px 18px rgba(50, 50, 50, 0.75);    
    background: url('leather_pattern.png');
    background-repeat: repeat-x;    
}
#nav .stiches
{
    position: absolute;    
    width:100%;
    height: 7px;
    background: url('stich.png');
    background-repeat: repeat-x;
}
#nav .stiches.bottom
{    
    bottom:2px;
}
#nav .stiches.top
{    
    top:2px;
}
#nav .header
{
    position: absolute;
    width:960px;
    height: 50px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -25px;
}
.nav-item
{
    position: absolute;    
    width: 240px;
    height:40px;
    color: #154f5d;
    font-size: 32px;    
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    /*padding-top: 5px;*/
    top: 5px;
    text-shadow: 1px 1px 2px #000;    
}
.nav-item.left
{
    left: 0px;
}
.nav-item.right
{
    right: 0px;
}
.nav-item.selected
{
    /*color: #024959;
    background-color: #f2cd5e;   */
    color: #4ecad9;
}
.nav-item.selected.fake
{
    height: 38px;
    margin-top: 2px;
    opacity: 0.6;
    border-radius: 8px;
    background-color: rgb(68,99,116);
    box-shadow: inset 0 0 18px #000;
}
.nav-item:hover
{
    /*color: #024959;
    background-color: #f2cd5e;*/
}
.nav-spacer
{
    display: inline-block;
    width: 100px;
    height: 1px;
}

#services
{
    position: absolute;
    left: 50%;
    margin-left: -480px;
    width: 960px;    
    text-align: center;
    margin-top:100px;    
}
#services .name
{
    display: block;
    width:150px;
    height: 150px;
    border-radius: 95px;
    font-size: 28px;    
    font-family: 'Grand Hotel', cursive;    
    background-color: rgb(190,190,190);
    opacity: 0.6;    
    margin-top: 20px;
}
#services .name.selected
{
    background-color: #4ecad9;
}
#services .name.hover
{
    background-color: #4ecad9;
    color: White;
}
#services .top
{
    top: 0px;
}
#services .middle
{
    top: 50%;
    margin-top: -75px;
}
#services .bottom
{
    bottom: 0px;
}
#mainContent
{
    position: absolute;
    right:0px;
    top: 50%;
    margin-top: -17em;
    width: 544px;
    height: 544px;
    border-style: solid;
    border-width: 10px;
    border-color: #8cd5d2;
    border-radius: 544px;
    box-shadow: inset 0 0 22px #000;   
    font-family: 'Londrina Solid', cursive;
}
#services .spacer
{
    display: inline-block;
    height:1px;
    width: 90px;
}
#services .selection_bar
{
    position: absolute;    
    border-style: solid;
    border-color: #8cd5d2;    
    border-width: 5px;
    -webkit-transform-origin: right center;    
    z-index: 0;
    left: 140px;
    width: 250px;
    top: 50%;
    -webkit-transform: rotate(35deg);
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.4s;
}
#mainContent .tagline
{
    padding-left: 20px;
    height: 544px;
    width: 500px;
    display: none;    
    vertical-align: middle;
    text-align: center;
    font-size: 2.2em;
    color: rgb(50,50,50);
    letter-spacing: 0px;
    -webkit-transition: display 0.5s;
}
.underline
{
    color: #4ecad9;
    text-shadow: 1px 1px 3px #000;
}