html
{
    overflow-y: scroll;
}
body, html
{
    margin: 0;
    padding: 0;    
    text-align: center;
    /*background-color: #eae5c7;*/
    /*background-color: #faf4e6;*/
    background-repeat: repeat;
    letter-spacing: 1px;    
    background-image: url('./back_pattern.png');

}
#nav
{
    position: absolute;
    width: 100%;
    height: 60px;
    /*background-color: #024959;*/
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 4px 18px rgba(50, 50, 50, 0.75);    
    background: url('asli_pattern.png');
    background-repeat: repeat-x;    
}
#nav .stiches
{
    position: absolute;    
    width:100%;
    height: 7px;
    background: url('stich_new.png');
    background-repeat: repeat-x;
}
#nav .stiches.bottom
{    
    bottom:2px;
}
#nav .stiches.top
{    
    top:2px;
}
#nav .header
{
    position: absolute;
    width:960px;
    height: 50px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -480px;
    margin-top: -25px;
}
.nav-item
{
    position: absolute;    
    width: 240px;
    height:40px;
    color: #154f5d;
    font-size: 32px;    
    text-align: center;
    font-family: 'Grand Hotel', cursive;
    /*padding-top: 5px;*/
    top: 5px;
    text-shadow: 1px 1px 2px #000;
    cursor: pointer;
}
.left
{
    left: 0px;
}
.right
{
    right: 0px;
}
.nav-item.selected
{
    color: #4ecad9;
}
.nav-item.hover
{
    color: #4ecad9;
}
.fake
{
    position: absolute;    
    width: 240px;    
    height: 38px;
    margin-top: 2px;
    opacity: 0.6;
    border-radius: 8px;
    background-color: rgb(68,99,116);
    box-shadow: inset 0 0 18px #000;
    top:5px;
    display: none;
}
.nav-item:hover
{
    /*color: #024959;
    background-color: #f2cd5e;*/
}
.nav-spacer
{
    display: inline-block;
    width: 100px;
    height: 1px;
}

#services
{
    position: absolute;
    left: 50%;
    margin-left: -480px;
    width: 960px;    
    text-align: center;
    margin-top:7%;    
}
#services .name
{
    display: block;
    width:150px;
    height: 150px;
    border-radius: 95px;
    font-size: 28px;    
    font-family: 'Grand Hotel', cursive;        
    background-color: rgb(150,150,150);    
    box-shadow: 1px 1px 8px #000;
    margin-top: 20px;
    cursor: pointer;    
    box-shadow: 1px 1px 3px rgb(80,80,80);
    opacity:0.6;
}
#services .name.selected
{
    /*background-color: #4ecad9;*/
    background-color: #61d4e7;
}
#services .name:hover
{
    /*background-color: #4ecad9;*/
    background-color: #61d4e7;    
}
#services .top
{
    top: 0px;
}
#services .middle
{
    top: 50%;
    margin-top: -75px;
}
#services .bottom
{
    bottom: 0px;
}
#mainContent
{
    position: absolute;
    right:0px;
    top: 50%;
    margin-top: -17em;
    width: 544px;
    height: 544px;    
    border-radius: 544px;
    box-shadow: inset 0 0 65px #0596a7;   
    font-family: 'Londrina Solid', cursive;
    font-family: 'Dosis', sans-serif;
    font-weight: 800;
}
#services .spacer
{
    display: inline-block;
    height:1px;
    width: 90px;
}
#services .selection_bar
{
    position: absolute;    
    border-style: solid;
    border-color: #61d4e7;    
    border-width: 5px;
    -webkit-transform-origin: right center;    
    z-index: 0;
    left: 180px;
    width: 200px;
    top: 50%;
    -webkit-transform: rotate(35deg);
    border-radius: 5px;
    -webkit-transition: -webkit-transform 0.4s;
    box-shadow: 1px 1px 3px rgb(80,80,80);
    opacity: 0.6;
}
#services .service_name_text
{
    display: table-cell;
    width:150px;
    height: 150px;
    vertical-align: middle;
    text-align: center;
}
#mainContent .tagline
{
    padding-left: 30px;
    height: 544px;
    width: 483px;
    display: none;    
    vertical-align: middle;
    text-align: center;
    font-size: 2.2em;
    color: rgb(50,50,50);
    letter-spacing: 0px;
    -webkit-transition: display 0.5s;
}
.underline
{
    color: #4ecad9;
    text-shadow: 0px 1px 3px rgb(60,60,60);
}
#about
{
    text-align: center;
    padding-top:4%;
}
#about .hr
{
    width: 100%;
    height: 3px;
    margin-top: 50px;
    border-bottom-style: solid;
    border-color: rgb(50,50,50);
    border-bottom-width: 3px;
    border-radius: 3px;

}
#about .content
{
    position: absolute;
    left: 50%;
    margin-left: -480px;
    width: 960px;
    font-family: 'Londrina Solid', cursive;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    color: rgb(50,50,50);
    text-align: left;
}
#about .virtues
{
    margin-top: 30px;    
}
#about .img
{
    float:left;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: White;
}
#about .desc
{
    display: table-cell;    
    height: 150px;
    vertical-align: middle;
    text-align: left;
    letter-spacing: 0px;
    word-spacing: 1px;
    padding-left: 90px;    
    font-weight: 800;
}
.heading
{
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    font-weight: 400;
    /*color: #4ecad9;*/
    text-shadow: 0px 1px 3px rgb(60,60,60);
    /*font-weight: 800;*/
}
.clear
{
    clear: both;
}
.other-heading
{
    font-size: 28px;
    font-weight: 800;
}
.align
{
    display: table-cell;
    padding-left: 240px; 
}
.red
{
    color: #f43939;
    text-shadow: 1px 1px 3px #000;
}